@page

@model CommunityPricing.Pages.PermittedMembers.PMGateModel

@{
    ViewData["Title"] = "PMGate";
    Layout = "~/Pages/PermittedMembers/_PMLayout.cshtml";
}
@Model.Message
<h2>PMGate</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-page="./PMGate" method="get">
            <div class="form-actions no-color">
                <p>
                    Enter Vendor Id:
                    <input type="number" name="id" value="@Model.VendorId" />
                    <input type="submit" value="Search" class="btn btn-default" />
                </p>
            </div>
        </form>
    </div>
</div>


@{ if (Model.authVendor == true)
    {
    <div class="row">
        <div class="col-md-4">
            <a asp-page="./OfferingEdit" asp-route-id="@Model.VendorId">Enter Offerings</a> |


            <a asp-page="./VendorEdit" asp-route-id="@Model.VendorId">Enter Edit</a>
        </div>
    </div>
    }
 }






