@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p><h5>The first goal of Community Pricing &copy; - (CP) will be to report the names and locations of each and every vendor
    within a limited geographical area who sells those products upon which CP chooses to report. CP will choose
    to report on those products that it feels represent the greater universe of products that a consumer might want to purchase.
    By using this approach CP hopes that the people within that limited geographical area will benefit from an organized list of vendors
    who sell a product that is important to them.
    </h5></p>
<p><h5>CP seeks to provide the price for each product that it lists as well as the date that that price was observed by CP or its contributors.
    CP seeks to provide the public with an ordering of those products by price.</h5></p>

<p><h5>CP seeks to provide other statistics on products sold by vendors that will be interesting and/or helpful to the public.</h5></p>

<p><h5>CP seeks to be accurate and complete, but makes no promise of accuracy, completeness, or other standard when it provides
    information to the public. CP strives to be as accurate as it is able to be.</h5></p>

<p><h5>This website, Community Pricing &copy;, displays information that is already publicized or that is easily discoverable.
    This website organizes and then produces statistics on that information, and displays that to the general public.</h5></p>