@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<hr />
<article>
    <p>
        <strong>
            The goal of Community Pricing &copy; - (CP) is to provide information to the public.  CP seeks to provide information to the public by collecting
            data by way of visual observation or by other means, and then by organizing that data into useful information.  The specific goal of CP 
            is to provide information about where people can go to find those products that they might purchase.  CP seeks to provide an organized display
            of the prices and dates for each product.  CP also seeks to provide other statistics based on the data that it collects.       
        </strong>
    </p>

    <p>
        <strong>
            Community Pricing &copy; - (CP) displays information that is either already publicized or that is easily discoverable. The business entities mentioned here may
            or may not be willing to have this website display any information about them, such as, about their physical address or about
            the products that they sell.  Furthermore, the data or the information produced or displayed by CP may be <em>inaccurate</em>, <em>incomplete</em>, and/or <em>misleading</em>. An example
            of the above might be that CP has quoted the price of a product inaccurately.
        </strong>
    </p>   
</article>

