@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<p><h5>The first goal of Community Pricing &copy; - (CP) is to provide information to the public. The nature of this information
    is in the form of the names and locations of vendors who sell those products upon which CP chooses to report. Providing information
    about vendors' product offerings may depend upon the willingness of those vendors to participate in providing this information.
    Therefore, this information may not be complete, for example, with respect to all of the vendors who sell a particular product
    in any given geographical area.  CP hopes that people will benefit from an organized list of offerings of vendors who sell a product.
    </h5></p>
<p><h5>CP seeks to provide the price for each product that it lists as well as the date that that price was observed by CP or its contributors.
    CP seeks to provide the public with an ordering of those products by price.</h5></p>

<p><h5>CP seeks to provide other statistics on products sold by vendors that will be interesting and/or helpful to the public.</h5></p>

<p><h5>CP seeks to be accurate and complete, but makes no promise of accuracy, completeness, or other standard when it provides
    information to the public. CP strives to be as accurate as it is able to be.</h5></p>

<p><h5>This website, Community Pricing &copy;, displays information that is already publicized or that is easily discoverable.
    This website organizes and then produces statistics on that information, and displays that to the general public.</h5></p>
