@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<p>
    <h5>
        The goal of Community Pricing &copy; - (CP) is to provide information to the public.  CP seeks to provide information to the public by collecting
        data by way of casual human observation and by other means and then using that data to attempt to produce relevant information.  The information produced
        by CP may be inaccurate, incomplete, or misleading. Some examples of the above might be that the price of a product is quoted inaccurately, or that CP
        did not include in the presentation of its information all of those vendors that one would reasonably expect to be included there. 
    </h5>
</p>

<p>
    <h5>
        Community Pricing &copy; - (CP) displays information that is already publicized or that is easily discoverable.  Providing information about vendors'
        product offerings may depend upon the willingness of those vendors to participate in providing data to CP.  CP might have gained information from a vendor
        where the widespread display of the information that was based upon that data is contrary to the wishes of those properly authorized to give out that data.
        There might have been an incomplete communication or a miscommunication between CP and such a vendor.
    </h5>
</p>

<p>
    <h5>
        The first goal of Community Pricing &copy; - (CP) is to provide information, as above, in the form of the names and locations of those vendors
        that sell the products upon which CP chooses to report. CP seeks to provide the price for each product that it lists as well as the date that
        that price was observed by CP or its contributors.  Additionally, CP seeks to provide the users of this website with some ability to sort those products
        offered by a vendor, such as by highest to lowest price, for example.  CP hopes that people, that is, the users of this website and others, will benefit
        from an organized list of vendors' product offerings.
    </h5>
</p>

<p><h5>CP seeks to provide other statistics on products sold by vendors that will be interesting and/or helpful to the public as well .</h5></p>


