@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <a asp-page="/GeneralPublic/ProductCategoryIndex"><h1><span>Community Pricing</span></h1></a>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Community Pricing</h2>
        <p>
            See and compare the prices of products offered by vendors near you.
        </p>
        <p>
            @Model.Average
        </p>
    </div>
</div>