@page
@model CommunityPricing.Pages.Shared.NewsModel
@{
    ViewData["Title"] = "News";
    Layout = "~/Pages/Admin/_AdminLayout.cshtml";
}

<h2>News</h2>

<span>




   






</span>
<p>Survey of prices conducted on 11/07/2019</p>

<div>
</div>
