@page
@model CommunityPricing.Pages.Shared.NewsModel
@{
    ViewData["Title"] = "News";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>News</h2>

<hr class="blockClassC" />
<div class="blockClassA">
        <h5>Prices surveyed on:</h5>
        <ul>
            <li>01/11/2021</li>
            <li>01/4/2021</li>
            <li>12/21/2020</li>
            <li>12/8/2020</li>
            <li>12/3/2020</li>
            <li>11/11/2020</li>
            <li>10/20/2020</li>
            <li>08/18/2020</li>
            <li>07/9/2020</li>
            <li>07/1/2020</li>
            <li>05/18/2020</li>
            <li>11/7/2019</li>
            <li>05/14/2019</li>
            <li>03/14/2019</li>
            <li>02/28/2019</li>
        </ul>
</div>

<br />
<br />
<article class="blockClassB">
    <p>Removed the Hot Foods link; no hot foods have been surveyed. Removed the Del Monte Peas product; as the price
       of that closely follows the price of several other products.</p>
    <p>10/21/2020 - Restructure of banner page</p>
    <p>
       10/10/2020 - The Community Pricing logo <em>is now operable again</em> as a link. It had been inoperable
       from approximately 10/09/2020 - 10/10/2020. Sorry for inconvenience.
    </p>
    <p>
       09/10/2020 - Recalculation of inflation statistics: each inflation rate shown here is generated based on a segment
       of a year and then annualized for that year; previously, each inflation rate shown here was not annualized.
    </p>
    <p>05/09/2020 - Use observed data to provide inflation rates</p>
</article>
