@page
@model CommunityPricing.Pages.Shared.NewsModel
@{
    ViewData["Title"] = "News";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>News</h2>


<div class="pageClassAlpha">
    <article>
        <p>
            Survey's of prices conducted on:<ul> <li>10/20/2020</li> <li>08/18/2020</li> <li>07/09/2020</li>
            <li>07/01/2020</li> <li>05/18/2020</li> <li>11/07/2019</li></ul>
        </p>
    </article>
</div>
<div class="pageClassBeta">
    <article>
        <p>10/21/2020 - Restructure of banner page</p>
        <p>
            The Community Pricing logo <strong>is now operable again</strong> as a link. It had been inoperable
            from approximately 10/09/2020 - 10/10/2020. Sorry for inconvenience.
        </p>
        <p>
            Recalculation of inflation statistics: each inflation rate shown here is generated based on a segment
            of a year and then annualized for that year; previously, each inflation rate shown here was not annualized.
        </p>

        <p>05/09/2020 - Use observed data to provide inflation rates</p>
    </article>
</div>
