@page
@model CommunityPricing.Pages.Shared.NewsModel
@{
    ViewData["Title"] = "News";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>News</h2>

<span>




   






</span>


<div>
    <p>Survey of prices conducted on 11/07/2019</p>

    <p>A calculator of inflation rates for the past year based on observed data on 05/09/2020</p>

    <p>Revisions to inflation calculator on 05/18/2020</p>

    <p>Survey of prices conducted on 05/18/2020</p>

    <p>Survey of prices conducted on 07/09/2020 (some 07/01/2020)</p>

    <p>Survey of prices conducted on 08/18/2020</p>

</div>
