@page
@model CommunityPricing.Pages.Shared.NewsModel
@{
    ViewData["Title"] = "News";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>News</h2>

<span>




   






</span>
<p>Survey of prices conducted on 11/07/2019</p>

<p>Draft of a calculator of inflation rates for the past year based on observed data</p>

<div>
</div>
